<h1>Restaurants List</h1>

<ul>
  <% @restaurants.each  do |restaurant| %>
  <%= restaurant.name %>

  <%=  link_to "details", restaurant_path(restaurant)  %>
<!--   <%= restaurant.address %>
  <%= restaurant.category %>
  <%= restaurant.phone_number %> -->
  <%= link_to new_restaurant_review_path(restaurant) do %>
    <i class='fas fas fa-edit'></i>
  <% end %>
  <br>
  <% end %>
</ul>
<br>
<%= link_to "+ Add a new RESTAURANT", new_restaurant_path %>
